*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/*.aab
/app/release/*.apk
/app/debug/*.aab
/app/debug/*.apk
/signingkey.keystore
/app/src/main/res/raw/hydra_service_account.json
